<template>
  <div class="level1">
    <i class="material-icons">
      radio_button_checked
    </i>
  </div>
</template>

<script>
export default {
  name: 'level1',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
