<template>
  <div class="campaign">
    <LevelSelect></LevelSelect>
    <router-view></router-view>
  </div>
</template>

<script>
import LevelSelect from '@/components/LevelSelect'

export default {
  name: 'campaign',
  components: { LevelSelect },
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
