<template>
  <div class="chessLogic">
    <span>test</span>
  </div>
</template>

<script>
export default {
  name: 'chessLogic',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
