<template>
  <div class="dashboard">
    <v-container fluid grid-list-sm>
      <v-layout align-start row>
        <v-flex d-flex xs12 sm2>
          <v-layout align-center fill-height>
            <v-flex>
              <v-card>
                <span>Poll</span>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'dashboard',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
span {
  font-size: 50px;
}
h1 {
  text-align: left;
}
a {
  text-decoration: none;
}
p {
  text-align: left;
}
.post {
  margin: 10px 10px 0 10px;
}
</style>
