<template>
  <div class="levelSelect">
    <v-container fluid grid-list-sm>
      <v-layout align-start row>
        <v-flex d-flex xs12 sm2>
          <v-layout column>
            <v-flex d-flex xs12 sm2>
              <router-link :to="{ name: 'Level1' }">
                <v-btn>Level 1</v-btn>
              </router-link>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 2</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 3</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 4</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 5</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 6</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 7</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 8</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 9</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Level 10</v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
    <div>

    </div>
  </div>
</template>

<script>
import Level1 from '@/components/levels/Level1'

export default {
  name: 'levelSelect',
  components: { Level1 },
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
