<template>
  <nav>
    <v-toolbar flat app>
      <v-layout row>
        <v-flex d-flex xs12 sm2>
          <router-link :to="{ name: 'Home' }">
            <v-btn>Home</v-btn>
          </router-link>
          <router-link :to="{ name: 'Campaign' }">
            <v-btn>Campaign</v-btn>
          </router-link>
          <router-link :to="{ name: 'Teams' }">
            <v-btn>Teams</v-btn>
          </router-link>
          <router-link :to="{ name: 'Reference' }">
            <v-btn>Reference</v-btn>
          </router-link>
          <router-link :to="{ name: 'Training' }">
            <v-btn>Training</v-btn>
          </router-link>
          <router-link :to="{ name: 'Profile' }">
            <v-btn >Profile</v-btn>
          </router-link>
        </v-flex>
      </v-layout>
    </v-toolbar>
  </nav>
</template>

<script>
export default {
  name: 'navbar'
}
</script>

<style>
a {
  text-decoration: none;
}
</style>
