<template>
  <div class="post">
    <v-flex d-flex xs12 sm8>
      <v-layout align-center justify-center fill-height>
        <v-flex>
          <v-card>
            <span>News</span>
            <div class="post">
              <h1>underground chess is running</h1>
              <p>
                After months of planning on paper, a basic preview of the site is now available.
              </p>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </div>
</template>

<script>
export default {
  name: 'post',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
