<template>
  <div class="dashboard">
    <v-content>

    </v-content>
  </div>
</template>

<script>
export default {
  name: 'dashboard',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
