<template>
  <div class="dashboard">
    <v-container fluid grid-list-sm>
      <v-layout align-center justify-center row>
        <v-layout column>
          <v-flex d-flex xs12 sm3>
            <v-btn>Σ</v-btn>
          </v-flex>
        </v-layout>
        <v-layout column>
          <v-flex d-flex xs12 sm3>
            <v-btn>Ω</v-btn>
          </v-flex>
        </v-layout>
        <v-layout column>
          <v-flex d-flex xs12 sm3>
            <v-btn>Λ</v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'dashboard',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
button {
  height: 150px;
  font-size: 100px;
}
</style>
