<template>
  <div class="training">
    <v-container fluid grid-list-sm>
      <v-layout align-start row>
        <v-flex d-flex xs12 sm2>
          <v-layout column>
            <v-flex d-flex xs12 sm2>
              <v-btn>Puzzles</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Openings</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Coordinates</v-btn>
            </v-flex>
            <v-flex d-flex xs12 sm2>
              <v-btn>Invisible Chess</v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'training',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
