<template>
  <v-app dark>
    <!-- <Navbar></Navbar> -->
    <!-- <v-content>
      <router-view></router-view>
    </v-content> -->
    <ChessLogic></ChessLogic>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar'
import ChessLogic from '@/components/ChessLogic'

export default {
  name: 'app',
  components: { Navbar, ChessLogic }
}
</script>

<style>
body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
main {
  text-align: center;
}
</style>
